// Размеры
$content-max-weight: 720px;

// Цвет
$color-main: #f4691b;
$color-main-w: #ffc7a7;
$color-text: #232930;
$color-warning: #f41b1b;
$color-w: #ffffff;

// Шрифт
$font-main: "SF Pro Display", sans-serif;

// Анимация
$anim-login: 300ms ease-out 0ms;

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

html {
	width: 100%;
	height: 100%;
	min-height: auto;
}

body {
	font-family: $font-main;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #232930;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: auto;
	min-width: 320px;
}

main {
	display: grid;
	grid-template-columns: minmax(auto, 460px);
	grid-template-rows: 1fr;
	// grid-row-gap: 10px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	height: 100%;
}

.content {
	position: relative;
	width: 100%;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Страница авторизации
.login-page {
	background-color: $color-main;
	transition: background-color $anim-login;
}

.login-page__logo {
	position: absolute;

	top: 50%;
	transform: translateY(-50%);
	transition: $anim-login;
	transition-property: transform, top;
}

.login {
	display: grid;
	grid-gap: 8px;
	width: 100%;
	max-width: 250px;
	margin-top: 224px;
	margin-bottom: 10%;

	visibility: hidden;
	opacity: 0;
	transition: $anim-login;
	transition-property: opacity, visibility;
}

.login__text {
	margin-bottom: 12px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}

.login__input {
	margin: 0;
	padding: 0 20px;
	height: 40px;
	background: $color-w;
	border: 1px solid $color-main-w;
	border-radius: 5px;
	font-family: $font-main;
	font-weight: normal;
	font-size: 15px;
	color: $color-main;
	letter-spacing: 0.0703846px;
	appearance: none;

	&:focus {
		border-color: $color-main;
	}

	&::placeholder {
		color: $color-main-w;
	}
}

.login__input.error {
	border-color: $color-warning;
}

.button {
	font-family: $font-main;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.0703846px;
	color: $color-w;
	background-color: $color-main;
	height: 40px;
	margin: 0;
	padding: 0 20px;
	border: none;
	border-radius: 5px;

	&:active {
		background-color: lighten($color-main, 5%);
	}
}

.login-page.active {
	background-color: $color-w;

	.login-page__logo {
		top: 16px;
		transform: translateY(0);
	}

	.login {
		visibility: visible;
		opacity: 1;
	}
}

// Визитка
.vizitka .content {
	height: 100%;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 320px;
		background-color: $color-main;
		border-radius: 0px 0px 50px 50px;
		z-index: 1;
	}

	.content__header-h {
		color: $color-w;
	}
}

.content__header {
	width: 100%;
	height: 42px;
	display: grid;
	grid-template-columns: minmax(70px, auto) 1fr minmax(70px, auto);
	grid-column-gap: 10px;
	align-items: center;
	margin-bottom: 24px;
	z-index: 2;
}

.content__header-h {
	grid-column-start: 2;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

.content__info {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;
}

.content__avatar-wrap {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	overflow: hidden;
	margin-bottom: 8px;
	cursor: pointer;
}

.content__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.content__change-avatar {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(35, 41, 48, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;

	transition: top 140ms ease-out 0ms;
}

.content__change-avatar.active {
	top: 50%;
}

.content__text {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 4px;
	color: $color-w;
	text-align: center;
}

.content__text-name {
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
}

.content__text-post {
	font-size: 12px;
	line-height: 14px;
}

.content__text-tel {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $color-w;
	text-decoration: none;
}

.content__qr {
	background-color: $color-w;
	box-shadow: 0px 4px 20px rgba(48, 48, 48, 0.13);
	border-radius: 30px;
	padding: 30px;
	z-index: 2;
}

.nav-bot__wrap {
	width: 100%;
	position: relative;
}

.nav-bot {
	height: 60px;
	background-color: $color-w;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: center;
	justify-items: center;
	position: relative;
	z-index: 13;
}

.nav-bot__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: $color-text;
	text-decoration: none;

	svg path {
		fill: $color-text;
	}

	&:hover {
		text-decoration: none;
	}
}

.nav-bot__item.active {
	color: $color-main;

	svg path {
		fill: $color-main;
	}
}

.change-ing {
	position: absolute;
	overflow: hidden;
	bottom: 100%;
	left: 0;
	right: 0;
	max-height: 0;
	padding: 30px 16px;
	z-index: 12;
	background-color: $color-w;
	border-radius: 50px 50px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: $anim-login;
	transition-property: opacity, visibility, transform, max-height;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
}

.change-ing.active {
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.change-ing__text {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 16px;
}

.change-ing__icon-wrp {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 16px;
	margin-bottom: 30px;
}

.change-ing__icon {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: $color-main;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.change-ing__linc {
	font-weight: normal;
	font-size: 17px;
	color: $color-warning;
	padding: 10px;
	text-decoration: none;
}

.close-area {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;

	visibility: hidden;
	opacity: 0;
	transition: $anim-login;
	transition-property: opacity, visibility;
}

.close-area.active {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
}

// Сотрудники
.soter .content {
	height: 100%;
}

.content__search {
	width: 100%;
	margin-bottom: 20px;
}

.content__search-input {
	position: relative;
	width: 100%;

	input[type="search"] {
		font-family: $font-main;
		font-weight: normal;
		font-size: 17px;
		background: #f1f1f1;
		border: 1px solid #f1f1f1;
		border-radius: 10px;
		height: 36px;
		width: 100%;
		margin: 0;
		padding: 0 8px 0 32px;
		color: $color-text;
		appearance: none;

		&::placeholder {
			color: #8e8e93;
		}
	}

	&::before {
		position: absolute;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.3606 12.7666C8.73853 12.7666 10.0251 12.3184 11.071 11.5713L15.0056 15.5059C15.1882 15.6885 15.429 15.7798 15.678 15.7798C16.2175 15.7798 16.6077 15.3647 16.6077 14.8335C16.6077 14.5845 16.5247 14.3521 16.342 14.1694L12.4324 10.2515C13.2542 9.17236 13.7439 7.83594 13.7439 6.3833C13.7439 2.87207 10.8718 0 7.3606 0C3.84106 0 0.977295 2.87207 0.977295 6.3833C0.977295 9.89453 3.84106 12.7666 7.3606 12.7666ZM7.3606 11.3887C4.61304 11.3887 2.35522 9.12256 2.35522 6.3833C2.35522 3.64404 4.61304 1.37793 7.3606 1.37793C10.0999 1.37793 12.366 3.64404 12.366 6.3833C12.366 9.12256 10.0999 11.3887 7.3606 11.3887Z' fill='%238E8E93'/%3E%3C/svg%3E%0A");
		background-size: cover;
	}
}

.list__wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 300px;

	--arow-icon: url("data:image/svg+xml,%3Csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L6 7.00559L1.17857 1' stroke='%23F4691B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.list-small,
.list-norm {
	overflow-y: auto;
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: grid;
	grid-template-columns: 1fr;
	align-content: flex-start;
}

.list-small {
	grid-row-gap: 12px;
}

.list-norm {
	grid-row-gap: 16px;
}

.list-small__linc {
	background-color: $color-w;
	box-shadow: 0px 2px 4px rgba(43, 61, 69, 0.08);
	border-radius: 5px;
	min-height: 44px;
	padding: 8px 32px 8px 8px;
	font-weight: normal;
	font-size: 17px;
	color: $color-text;
	text-decoration: none;
	display: flex;
	align-items: center;
	position: relative;

	&:active {
		background-color: #f0f0f0;
	}

	&::after {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		display: block;
		width: 7px;
		height: 14px;
		background-image: var(--arow-icon);
		background-size: cover;
	}
}

.list-norm__linc {
	background-color: $color-w;
	box-shadow: 0px 2px 4px rgba(43, 61, 69, 0.08);
	border-radius: 5px;
	padding: 9px 32px 9px 9px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 4px;
	position: relative;
	text-decoration: none;

	&:active {
		background-color: #f0f0f0;
	}

	&::after {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		display: block;
		width: 7px;
		height: 14px;
		background-image: var(--arow-icon);
		background-size: cover;
	}
}

.list-norm__img {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	grid-column-start: 1;
	grid-row: 1 / -1;
}
.list-norm__tel,
.list-norm__post,
.list-norm__name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-norm__name {
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	color: $color-text;
}
.list-norm__post {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #898989;
}
.list-norm__tel {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: $color-text;
}

.content__header-back {
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;
	padding-left: 14px;
	color: $color-main;
	text-decoration: none;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 6px;
		height: 10px;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9L1 4.99414L5 1' stroke='%23F4691B' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size: cover;
	}
}

// @media screen and (max-width: 768px) {

// }

.bc-red {
	background-color: $color-warning;
}
