:root {
	--content-p-r: 0;
}

// Размеры
$content-max-weight: 1240px;
$font-main: "SF Pro Display", sans-serif;

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

body {
	font-family: $font-main;
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
