:root {
	--content-p-r: 0;
}

// Размеры
$content-max-weight: 720px;

// Цвет
$color-main: #f4691b;
$color-main-w: #ffc7a7;
$color-text: #232930;
$color-warning: #f41b1b;
$color-w: #ffffff;

// Шрифт
$font-main: "SF Pro Display", sans-serif;

// Анимация
$anim-login: 300ms ease-out 0ms;

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

html {
	width: 100%;
	height: 100%;
	min-height: auto;
}

body {
	font-family: $font-main;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #232930;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: auto;
}

main {
	display: grid;
	grid-template-columns: minmax(auto, 460px);
	grid-template-rows: 1fr;
	grid-row-gap: 20px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	height: 100%;
}

.content {
	position: relative;
	width: 100%;
	padding: 16px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Страница авторизации
.login-page {
	background-color: $color-main;
	transition: background-color $anim-login;
}

.login-page__logo {
	position: absolute;

	top: 50%;
	transform: translateY(-50%);
	transition: $anim-login;
	transition-property: transform, top;
}

.login {
	display: grid;
	grid-gap: 8px;
	width: 100%;
	max-width: 250px;
	margin-top: 224px;
	margin-bottom: 10%;

	visibility: hidden;
	opacity: 0;
	transition: $anim-login;
	transition-property: opacity, visibility;
}

.login__text {
	margin-bottom: 12px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}

.login__input {
	margin: 0;
	padding: 0 20px;
	height: 40px;
	background: $color-w;
	border: 1px solid $color-main-w;
	border-radius: 5px;
	font-family: $font-main;
	font-weight: normal;
	font-size: 15px;
	color: $color-main;
	letter-spacing: 0.0703846px;
	appearance: none;

	&:focus {
		border-color: $color-main;
	}

	&::placeholder {
		color: $color-main-w;
	}
}

.login__input.error {
	border-color: $color-warning;
}

.button {
	font-family: $font-main;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.0703846px;
	color: $color-w;
	background-color: $color-main;
	height: 40px;
	margin: 0;
	padding: 0 20px;
	border: none;
	border-radius: 5px;

	&:active {
		background-color: lighten($color-main, 5%);
	}
}

.login-page.active {
	background-color: $color-w;

	.login-page__logo {
		top: 16px;
		transform: translateY(0);
	}

	.login {
		visibility: visible;
		opacity: 1;
	}
}

// Визитка
.vizitka .content {
	height: 100%;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 320px;
		background-color: $color-main;
		border-radius: 0px 0px 50px 50px;
		z-index: 1;
	}
}

.content__header {
	width: 100%;
	height: 42px;
	display: grid;
	grid-template-columns: minmax(70px, auto) 1fr minmax(70px, auto);
	grid-column-gap: 10px;
	align-items: center;
	margin-bottom: 24px;
	z-index: 2;
}

.content__header-h {
	grid-column-start: 2;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	color: $color-w;
	margin: 0;
}

.content__info {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;
}

.content__avatar-wrap {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	overflow: hidden;
	margin-bottom: 8px;
}

.content__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.content__change-avatar {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(35, 41, 48, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;

	transition: top 140ms ease-out 0ms;
}

.content__change-avatar.active {
	top: 50%;
}

.content__text {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 4px;
	color: $color-w;
	text-align: center;
}

.content__text-name {
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
}

.content__text-post {
	font-size: 12px;
	line-height: 14px;
}

.content__text-tel {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $color-w;
	text-decoration: none;
}

.content__qr {
	background-color: $color-w;
	box-shadow: 0px 4px 20px rgba(48, 48, 48, 0.13);
	border-radius: 30px;
	padding: 30px;
	z-index: 2;
}

.nav-bot__wrap {
	width: 100%;
	position: relative;
}

.nav-bot {
	height: 50px;
	background-color: $color-w;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: center;
	justify-items: center;
	position: relative;
	z-index: 12;
}

.nav-bot__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: $color-text;
	text-decoration: none;

	svg path {
		fill: $color-text;
	}

	&:hover {
		text-decoration: none;
	}
}

.nav-bot__item.active {
	color: $color-main;

	svg path {
		fill: $color-main;
	}
}

.change-ing {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	height: 200px;
	padding: 30px 16px 0;
	z-index: 12;
	background-color: $color-w;
	border-radius: 50px 50px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.change-ing__text {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 16px;
}

.change-ing__icon-wrp {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 16px;
	margin-bottom: 30px;
}

.change-ing__icon {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: $color-main;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: none;
}

.change-ing__linc {
	font-weight: normal;
	font-size: 17px;
	color: $color-warning;
	padding: 10px;
	text-decoration: none;
}

.close-area {
	position: fixed;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.close-area.active {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}

// @media screen and (max-width: 768px) {

// }

.bc-red {
	background-color: $color-warning;
}
